# Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from September 2019:

```wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz```

You will also need the dataset with zones:

```wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv```

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [1]:
# dependencias
import pandas as pd
from sqlalchemy import create_engine, text

C:\Users\olive\AppData\Local\Temp\ipykernel_3944\3974309619.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Vamos ler as primeiras 100 linhas para conhecer o dataset e inferir os tipos de dados

green_taxi = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"

time_zones = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

df1 = pd.read_csv(
    filepath_or_buffer= green_taxi,
    compression="gzip",
    nrows=100
)

df2 = pd.read_csv(
    filepath_or_buffer= time_zones,
    nrows=100
)

In [3]:
df1.info()
df1.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   100 non-null    float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.0,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0

In [4]:
df2.info()
df2.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    100 non-null    int64
 1   Borough       100 non-null    object
 2   Zone          100 non-null    object
 3   service_zone  100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB

   LocationID Borough            Zone service_zone
0           1     EWR  Newark Airport          EWR

In [5]:
df1.lpep_pickup_datetime = pd.to_datetime(df1.lpep_pickup_datetime)
df1.lpep_dropoff_datetime = pd.to_datetime(df1.lpep_dropoff_datetime)

In [6]:
dbengine = create_engine('postgresql://postgres:admin@localhost:5432')

In [7]:
# inputar o schema da tabela no banco de dados
df1.head(n=0).to_sql(
    name='green_taxi_data',
    con=dbengine,
    if_exists='replace'
)

0

In [8]:
df2.head(n=0).to_sql(
    name='time_zones',
    con=dbengine,
    if_exists='replace'
)

0

In [9]:
# print(pd.io.sql.get_schema(df1, name='green_taxi_data', con=dbengine))

In [12]:
iter_chunk = 100000

df1_iter = pd.read_csv(
    filepath_or_buffer= green_taxi,
    compression="gzip",
    iterator=True,
    chunksize=iter_chunk
)

df2_iter = pd.read_csv(
    filepath_or_buffer= time_zones,
    iterator=True,
    chunksize=iter_chunk
)

print(type(df1_iter))

<class 'pandas.io.parsers.readers.TextFileReader'>

In [ ]:
while True:
    try:
        df_chunk = next(df1_iter)
        df_chunk.lpep_pickup_datetime = pd.to_datetime(df_chunk.lpep_pickup_datetime)
        df_chunk.lpep_dropoff_datetime = pd.to_datetime(df_chunk.lpep_dropoff_datetime)
        df_chunk.to_sql(
            name='green_taxi_data',
            con=dbengine,
            if_exists='append',
            index=False
        )
        print(f"> {iter_chunk} linhas carregadas na tabela green_taxi_data")
    except StopIteration:
        print("Processamento finalizado")
        break
    except Exception as e:
        print(f"Processamento finalizado com erro: {e}")
    finally:
        print(f"> Todos os dados carregados para a tabela green_taxi_data")